<!DOCTYPE html>
<html lang="pl">
  <head>
    <div th:replace="head :: head"></div>
  </head>
  <body>
    <header class="header--form-page">
      <div th:replace="header :: header"></div>
      <div class="slogan container container--90">
          <h2>
            Dziękujemy za przesłanie formularza Na maila prześlemy wszelkie
            informacje o odbiorze.
          </h2>
      </div>
    </header>

    <footer>
      <div th:replace="footer :: footer"></div>
    </footer>

    <script src="js/app.js"></script>
  </body>
</html>
